@import "../breakpoints";

.pageUi {
  @include respond-above(laptop) {
    display: grid;
    gap: var(--size-xlg);
    grid-template-columns: 1fr 1fr;
    .gallery {
      grid-column: 1 / -1;
    }
  }
}
.imageWrapper {
  width: 100%;
  position: relative;
  margin-bottom: 24px;
  align-self: start;
  span {
    border-radius: var(--border-radius-lg);
  }
}
.catInfo {
  font-weight: 500;
  margin-bottom: 3rem;
  .title {
    font-weight: 600;
    font-size: var(--size-xl);
    margin-bottom: var(--size-xlg);
  }
  .description {
    margin-bottom: var(--size-lg);
    max-width: 55ch;
  }
  .bold {
    font-weight: 700;
  }
  .data > * {
    margin-bottom: var(--size-1);
    color: var(--dark);
    @include respond-above(tablet) {
      margin-bottom: var(--size-lg);
    }
    @include respond-above(laptop) {
      margin-bottom: var(--size-xlg);
    }
  }
}
