@import "../breakpoints";

.hero {
  border-top-left-radius: var(--border-radius-30);
  border-top-right-radius: var(--border-radius-30);
  padding: var(--size-lg) var(--size-xlg);
  background-color: var(--dark);
  background-image: url("../../public/HeroImagesm.webp");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  color: var(--light);
  @include respond-above(laptop) {
    padding: 7.1875rem 6.875rem 9.0625rem;
  }
}

.breedsFeed {
  border-bottom-left-radius: var(--border-radius-30);
  border-bottom-right-radius: var(--border-radius-30);
  background-color: var(--background);
  margin-bottom: 65px;
  padding: var(--size-lg) var(--size-xlg);
  @include respond-above(laptop) {
    padding: 2.5rem 6.875rem;
  }
}

.advantage {
  @include respond-above(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--size-xlg);
  }
  @include respond-above(laptop) {
    padding: 2.5rem 6.875rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
  }
}
