@import "../breakpoints";

.trending {
  font-weight: 500;
  font-size: var(--size-xs);
  margin-bottom: 6px;
  @include respond-above(max) {
    font-size: var(--size-sm);
  }
}
.decoration {
  width: 40px;
  height: 3px;
  border-radius: var(--border-radius-xxl);
  background-color: var(--decoration);
  margin-bottom: var(--size-sm);
}
.infoAction {
  margin-bottom: 26px;
  @include respond-above(tablet) {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.info {
  font-size: var(--size-md);
  max-width: 15ch;
  margin-bottom: var(--size-1);
  @include respond-above(tablet) {
    margin-bottom: 0;
  }
  @include respond-above(max) {
    font-size: var(--size-xlg);
  }
  @include respond-above(max) {
    font-size: var(--size-xxxl);
  }
}
.actionLink {
  color: var(--text-transperent);
  font-weight: 700;
}
.previewGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 13px;
  row-gap: 26px;
  @include respond-above(tablet) {
    grid-template-columns: repeat(4, 1fr);
  }
}
.card {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  &ImageWrapper {
    overflow: hidden;
    width: 100%;
    margin-bottom: 12px;
    position: relative;
    height: 8rem;
    span {
      border-radius: var(--border-radius-md);
    }
    @include respond-above(smallTablet) {
      height: 12rem;
    }
  }
  &Name {
    font-weight: 600;
    font-size: var(--size-xs);
    @include respond-above(max) {
      font-size: var(--size-sm);
    }
  }
}
