@import "../breakpoints";

.pageGrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-half);
  transition: 200ms ease-in background-color;
  @include respond-above(tablet) {
    gap: var(--size-xlg);
    grid-template-columns: max-content 1fr;
  }
  @media (hover: hover) {
    &:hover {
      background-color: var(--hover);
      border-radius: var(--border-radius-lg);
    }
  }
  .imageWrapper {
    span {
      border-radius: var(--border-radius-lg);
    }
  }
  .title {
    font-weight: 600;
    margin-bottom: var(--size-half);
    @include respond-above(tablet) {
      font-size: var(--size-xl);
      margin-bottom: var(--size-1);
    }
  }
  .description {
    max-width: 60ch;
    @include respond-above(tablet) {
      font-size: var(--size-sm);
    }
  }
}
.noImage {
  width: 12.5rem;
  height: 12.5rem;
  border-radius: var(--border-radius-lg);
  background-color: var(--hover);
}
