.title {
  font-size: var(--size-xl);
  margin-bottom: var(--size-xlg);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--size-1);
  span {
    border-radius: var(--border-radius-lg);
  }
}
