@import "../breakpoints";

.bold {
  font-weight: 700;
  color: var(--dark);
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--size-half);
  align-items: center;
  @include respond-above(tablet) {
    grid-template-columns: 1fr 2fr;
  }
}
.scale {
  width: 100%;
  height: 12px;
  background-color: var(--scale);
  border-radius: var(--border-radius-xs);
  &Active {
    background-color: var(--active);
  }
}
.scaleGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}
