.search {
  position: relative;
  width: fit-content;
  input {
    border: none;
    padding: var(--size-half) var(--size-1);
    border-radius: var(--border-radius-xl);
  }
  &Result {
    border-radius: var(--border-radius-sm);
    position: absolute;
    margin-top: 5px;
    width: 100%;
    height: 200px;
    background-color: var(--light);
    overflow: hidden;
    overflow-y: auto;
    padding: var(--size-half);
    z-index: 15;
    &Item {
      width: 100%;
      padding: var(--size-1) var(--size-half);
      display: flex;
      align-items: center;
      color: var(--dark);
      &:hover {
        border-radius: var(--border-radius-md);
        background-color: var(--hover);
      }
    }
  }
}
