:root {
  --text: #291507;
  --text-transperent: #190d0499;
  --decoration: #4d270c;
  --background: #e3e1dc;

  --border-radius-sm: 12px;
  --border-radius-md: 20px;
  --border-radius-circle: 50%;
  --size-xs: 0.5rem;
  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2rem;
}
