@import "breakpoints";

.hero {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 1.5rem 2rem;
  background-color: #000;
  background-image: url("../public/HeroImagesm.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  color: white;
  @include respond-above(laptop) {
    padding: 7.1875rem 6.875rem 9.0625rem;
  }
}

.breedsFeed {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--background);
  margin-bottom: 65px;
  padding: 1.5rem 2rem;
  @include respond-above(laptop) {
    padding: 2.5rem 6.875rem;
  }
}

.advantage {
  @include respond-above(tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  @include respond-above(laptop) {
    padding: 2.5rem 6.875rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 4rem;
  }
}
